<div id="container">
  <div class="wrapper">
    <h1>
      Summary
    </h1>
    <%= render partial: "shared/payment", locals: { payment_summary: @payment_summary,
                                                    wishlist: @wishlist,
                                                    payment_summary_variants: @payment_summary_variants,
                                                    tscope: @tscope} %>
    <div class="confirmation-list">
      <%= link_to "Back", wishlist_url(@wishlist.id) %>
      <%= link_to "Confirm", confirm_wishlist_payment_summary_url(@wishlist.id, @payment_summary.id), method: :put %>
    </div>
  </div>
</div>
