<% topnav_tabs = TabStructure::TabList.new("shared/layout/topbar_tabs")
      tab_scope = ['public','tabs','main_tabs']
      topnav_tabs.add_tab(I18n.t('home',:scope => tab_scope), {controller: "products"}) do |tab_info|
        tab_info.highlights_on(controller: "products", action: "index")
      end
      topnav_tabs.add_tab(I18n.t('wishlists',:scope => tab_scope),{controller: "wishlists"}) do |tab_info|
        tab_info.highlights_on(controller: "wishlists")
      end if current_user
%>

<div id="topbar">
  <div class="wrapper">
    <div id="topnav">
      <%= render topnav_tabs.to_render %>
    </div>
    <div id="search">
      <form method="post" action="#">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" onfocus="this.value=(this.value=='Search Our Website…')? '' : this.value ;" value="Search Our Website…">
          <input type="submit" value="Search" id="go" name="go">
        </fieldset>
      </form>
    </div>
    <br class="clear">
  </div>
</div>