<div id="topbar">
  <div class="wrapper">
    <div id="topnav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="style-demo.html">Style Demo</a></li>
        <li><a href="full-width.html">Full Width</a></li>
        <li><a href="#">DropDown</a>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
        </li>
        <li class="last"><a href="#">A Long Link Text</a></li>
      </ul>
    </div>
    <div id="search">
      <form method="post" action="#">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" onfocus="this.value=(this.value=='Search Our Website…')? '' : this.value ;" value="Search Our Website…">
          <input type="submit" value="Search" id="go" name="go">
        </fieldset>
      </form>
    </div>
    <br class="clear">
  </div>
</div>