<div class="sidebar_module">
  <div class="title_wrapper">
    <h3><%= defined?(title) ? title : object.model_name.human %></h3>
  </div>
  <div id="secondary_menu">
    <ul>
      <% link_collection.each_with_index do |link, index| %>
        <li style="<%="background-color: darkblue;" if defined?(selected) && !selected.nil? && selected == index %>">
          <%= raw link %>
        </li>
      <% end %>
    </ul>
  </div>
</div>