<div id="login_wrapper">
        <span class="extra1"></span>
        <div class="title_wrapper">
                <h2>Please Login</h2>
                <a href="#">Lost password</a>
        </div>
        <form action="#">
                <fieldset>
                        <!--[if !IE]>start row<![endif]-->
                        <div class="row">
                                <label>Username:</label>
                                <span class="input_wrapper">
                                        <input type="text" name="" class="text">
                                </span>
                        </div>
                        <!--[if !IE]>end row<![endif]-->
                        <!--[if !IE]>start row<![endif]-->
                        <div class="row">
                                <label>Password:</label>
                                <span class="input_wrapper">
                                        <input type="text" name="" class="text">
                                </span>
                        </div>
                        <!--[if !IE]>end row<![endif]-->
                        <!--[if !IE]>start row<![endif]-->
                        <div class="row">
                                <label class="inline"><input type="checkbox" value="" name="" class="checkbox"> remember me on this computer</label>
                        </div>
                        <!--[if !IE]>end row<![endif]-->
                        <!--[if !IE]>start row<![endif]-->
                                <div class="row">
                                        <div class="inputs small_inputs">
                                                <span class="button blue_button unlock_button"><span><span><em><span class="button_ico"></span>Login</em></span></span><input type="submit" name=""></span>
                                                <a class="button gray_button" href="#"><span><span>Back to site</span></span></a> 
                                        </div>
                                </div>
                                <!--[if !IE]>end row<![endif]-->
                </fieldset>
        </form>
</div>