<div id="featured">
  <ul>
    <li>
      <h2>Indonectetus facilis leonib</h2>
      <p class="imgholder"><img alt="" src="images/demo/240x90.gif"></p>
      <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
      <p class="readmore"><a href="#">Continue Reading »</a></p>
    </li>
  </ul>
</div>