<div class="holder">
  <h2 class="title"><img alt="" src="images/demo/60x60.gif">Nullamlacus dui ipsum conseque loborttis</h2>
  <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
  <p class="readmore"><a href="#">Continue Reading »</a></p>
</div>