// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tinycarousel { height: 1%; overflow:hidden; padding: 0 0 10px;   }
.tinycarousel .viewport { float: left; width: 240px; height: 125px; overflow: hidden; position: relative; }
.tinycarousel .buttons { background:asset-url("buttons.png", image) no-repeat scroll 0 0 transparent; display: block; margin: 30px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; }
.tinycarousel .next { background-position: 0 0; margin: 30px 0 0 10px;  }
.tinycarousel .disable { visibility: hidden; }
.tinycarousel .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
.tinycarousel .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}