/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require layout
 *= require select2
 *= require products
*/
#container{
    .wrapper{
        div.submit-wishlist{
            display: none; float: right;padding-bottom: 20px;
        }
        .button.blue{float: right;}
        h1{padding-bottom: 12px;margin-top: 10px;}
        .container-list{
            width: 850px;
            list-style: none;
            li.variant-item, li.wishlist-list-index{
                border-bottom: 1px dotted #CCCCCC; padding-bottom: 19px; word-wrap: break-word;overflow: hidden;max-height: 100px;
                ul.wishlist-box{
                    float:left;
                    list-style: none;
                    li.wishlist-select-item{
                        display: none;
                        float: left;
                        padding-top: 20px;
                    }
                    li.wishlist-image{
                        float:left;
                        width: 60px;
                        img{width: 60px; height:60px;}
                    }
                    li.wishlist-info{
                        float:left;
                        margin-left: 9px;
                        h1.main-list{font-size: 19px;margin: 0; padding: 0px;float: left;}
                        div.wishlist-vote {
                            a{float: left;}
                            margin-top: 8px;
                            &.ok{}
                            &.ko{}
                            img {
                                opacity: 0.5;width: 20px; height: 20px;
                                &.voted{opacity: 1.0;}
                            }
                            span{margin-top: 2px;float: left;margin-left: 4px;}
                        }
                    }
                    li.wishlist-description{
                        float:left;
                        margin-left: 30px;
                        width: 492px;
                    }
                    li.wishlist-quantity{
                        margin-top: 25px;
                        display: none;
                        float:right;
                        input{width: 20px;}
                    }
                    li.wishlist-link-to{
                        float:left;
                        > a{float:left;}
                    }
                }
            }
        }
    }
}

.button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.blue {
    color: #D9EEF7;
    border: solid 1px #0076A3;
    background: #0095CD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.public-edit-action{
    &:before{
    content:url('edit_action.gif') 
    }
}

.color-red {
    color: red;
}

.notice, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.notice {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}
.validation {
color: #D63301;
background-color: #FFCCBA;
background-image: url('validation.png');
}