/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require layout
 *= require select2
 *= require products
*/
#container{
    .wrapper{
        .container-list{
            list-style: none;
            li{
                border-bottom: 1px dotted #CCCCCC; padding-bottom: 19px; word-wrap: break-word;overflow: hidden;
                img.wishlist-image{float:left;}
                .wishlist-info{
                    float:right;
                    h1.main-list{border-bottom: medium none; float:right;}
                    div.wishlist-vote {
                        &.ok{}
                        &.ko{}
                        img {
                            opacity: 0.5;width: 20px; height: 20px;
                            &.voted{opacity: 1.0;}
                        }
                        span{padding-top: 2px;}
                    }
                    .description-text{float:right;}
                    .title-list{float:left;}
                }
            }
        }
    }
}