<div id="container">
  <div class="wrapper">
    <h1><%= link_to t('public.wishlists.index.new'), [:new, :wishlist] -%></h1>
    <ul class="container-list">
    <% @wishlists.each_with_index do |wishlist,index| -%>
      <li>
        <div class="description-text">
          <p><%= wishlist.description %></p>
        </div>
        <div class="title-list">
          <h1 class="main-list"><%= link_to wishlist.name, [wishlist] %></h1>
          <%= image_tag wishlist.user_admin.fb_picture %>
        </div>
      </li>
    <% end -%>
  </ul>
  </div>
</div>