<div id="homecontent">
  <div class="wrapper">
    <ul>
      <% @products.each do |product| %>
        <li>
          <h2 class="title"><%= image_tag product.master.first_image.url(:thumb)  %>
            <%= product.name %> 
          </h2>
          <p><%= product.description %></p>
          <p class="readmore">
            <%= link_to "Continue Reading", product_url(product) %>
          </p>
        </li>
      <% end %>
    </ul>
    <br class="clear" />
  </div>
</div>