<% unless flash.empty? -%>
<div class="section">
  <ul class="system_messages">
    <% flash.each do |key, message| %>
      <% case key.to_s%>
      <% when "notice"%>
        <li class="green"><span class="ico"></span><strong class="system_title"><%= message %></strong></li>
      <% when "error" %>
        <li class="red"><span class="ico"></span><strong class="system_title"><%= message %></strong></li>
      <% when "warning", "warn" %>
        <li class="yellow"><span class="ico"></span><strong class="system_title"><%= message %></strong></li>
      <% end %>        
    <% end %>
  </ul>
</div>
<% end -%>