
  <h1 id="logo"><a href="#">Meta Admin v1 Clever Adminstration Panel</a></h1>
  <!--[if !IE]>start user details<![endif]-->
  <div id="user_details">
          <ul id="user_details_menu">
                  <li class="first">Welcome <strong>Username</strong></li>
                  <li><a href="#">My Account</a></li>
                  <li class="last"><a href="#">Log out</a></li>
          </ul>
          <div id="server_details">
                  <dl>
                          <dt>Server time:</dt>
                          <dd>6:45 AM</dd>
                  </dl>
                  <dl>
                          <dt>Last login ip:</dt>
                          <dd>192.168.0.15</dd>
                  </dl>
          </div>
  </div>
  <!--[if !IE]>end user details<![endif]-->

  <!--[if !IE]>start main menu<![endif]-->
  <div id="main_menu">
          <ul>
                  <li>
                          <a class="selected" href="#"><span><span>Dashboard</span></span></a>
                          <ul>
                                  <li><a class="selected" href="#"><span><span>Secondary Menu1</span></span></a></li>
                                  <li><a href="#"><span><span>Latest Orders1</span></span></a></li>
                                  <li><a href="#"><span><span>Quick Settings1</span></span></a></li>
                                  <li><a href="#"><span><span>Selected Item1</span></span></a></li>

                          </ul>
                  </li>
                  <li>
                          <a href="#"><span><span>Store Settings</span></span></a>

                  </li>
                  <li>
                          <a href="#"><span><span>Order Management</span></span></a>

                  </li>
                  <li><a href="#"><span><span>UserAccounts</span></span></a></li>
                  <li><a href="#"><span><span>Catalog</span></span></a></li>
                  <li><a href="#"><span><span>Promotions</span></span></a></li>
                  <li><a href="#"><span><span>Static Pages</span></span></a></li>
                  <li><a href="#"><span><span>Item Mouseover</span></span></a></li>
                  <li><a href="#"><span><span>Press</span></span></a></li>
          </ul>
  </div>
  <!--[if !IE]>end main menu<![endif]-->