
  <h1 id="logo"><a href="#">Meta Admin v1 Clever Adminstration Panel</a></h1>
  <!--[if !IE]>start user details<![endif]-->
  <div id="user_details">
          <ul id="user_details_menu">
                  <li class="first">Welcome <strong>Username</strong></li>
                  <li><a href="#">My Account</a></li>
                  <li class="last"><a href="#">Log out</a></li>
          </ul>
          <div id="server_details">
                  <dl>
                          <dt>Server time:</dt>
                          <dd>6:45 AM</dd>
                  </dl>
                  <dl>
                          <dt>Last login ip:</dt>
                          <dd>192.168.0.15</dd>
                  </dl>
          </div>
  </div>
  <!--[if !IE]>end user details<![endif]-->

  <!--[if !IE]>start main menu<![endif]-->
  <% admin_tabs_aux = TabStructure::TabList.new("admin/shared/tabs")
      admin_tab_scope = ['admin','tabs','main_tabs']
      admin_tabs_aux.add_tab(I18n.t('admin_users',:scope => admin_tab_scope), {controller: "admin/admin_users"}) do |tab_info|
        tab_info.highlights_on(controller: "admin/admin_users")
      end
      admin_tabs_aux.add_tab(I18n.t('products',:scope => admin_tab_scope),{controller: "admin/products"}) do |tab_info|
        tab_info.highlights_on(controller: "admin/products")
        tab_info.highlights_on(controller: "admin/option_values")
        tab_info.highlights_on(controller: "admin/option_types")
        tab_info.highlights_on(controller: "admin/variants")
      end%>
  <div id="main_menu">
    <%= render_tabs(admin_tabs_aux) %>
  </div>
  <!--[if !IE]>end main menu<![endif]-->